.jumbotron {
    color: black;
    background-color: skyblue !important;
}


.display-6 {
    color: black;
    background-color: skyblue
}

.card-title {
    color: black;
    background-color: skyblue;
}

.card-body, .card-header, .card {
    background-color: skyblue !important;
}

