.jumbotron.bg-secondary {
    color: black;
    background-color: skyblue;
}


.display-6 {
    color: black;
    background-color: lightgrey;
}

.card-title {
    color: black;
    background-color: lightgrey;
}